// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#link_everyone {
	font-size: 20px;
}

.search {
	margin: 40px 0 20px 0;
}

#query {
	padding: 5px 20px;
	font-size: 20px;
}

#search {
	padding: 5px 20px;
	font-size: 20px;
}

